body {
  margin: 0;
  padding: 0;

  font-family: Intro;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url(../img/background1.png), url(../img/background3.png);
  background-position: top center, center;
  background-repeat: no-repeat, repeat;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шрифты */

@font-face {
  font-family: 'Intro';
  src: url('../fonts/intro.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-Book-Italic';
  src: url('../fonts/Intro-Book-Italic.otf') format('eot');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Intro-Book';
  src: url('../fonts/Intro-Book.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-bold';
  src: url('../fonts/Intro-Bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

/* ---- */

a {
  text-decoration: none;
}

.container {
  width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

/* footer */

.main-header {
  margin-bottom: 75px;
}

.main-header-logo {
  width: 68px;
  height: 14px;
  padding-top: 28px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-navigation,
.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  display: block;
  padding: 25px 20px;

  vertical-align: middle;
  color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  font-family: 'intro book';
}

.site-navigation-current {
  font-family: 'intro';
  position: relative;
}

.site-navigation li:hover,
.site-navigation li:focus {
  font-family: 'intro';
}

.site-navigation-current::after {
  content: '';

  position: absolute;
  right: 15px;
  top: 32px;
  width: 100px;
  height: 20px;

  background-size: cover;
  background-image: url(/img/red-line.png);
  background-position: center;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.social-wrapper {
  padding-top: 13px;
  padding-right: 13px;
  width: 145px;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.header-button:hover,
.header-button:focus {
  background-color: rgba(255, 45, 82, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

.telegram-icon {
  margin-top: 1px;
  margin-right: 2px;
}

/* ----- */

/* Основаная инфа */

.index-column {
  display: flex;
  justify-content: space-between;
}

.main-logo {
  padding-left: 200px;
  width: 320px;
}

.about-team {
  margin-top: 137px;
  width: 624px;
}

.about-team h2 {
  font-size: 60px;
}

.about-team h3 {
  font-size: 25px;
}

.about-team::after {
  content: '';
  position: absolute;
  right: 238px;
  top: 60px;
  width: 600px;
  height: 300px;
  background-size: cover;
  background-image: url(/img/red-line.png);
  background-position: center;
  z-index: -1;
}

.salem-logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.salem-logo-wrapper p {
  margin: 0;
  margin-left: 18px;
}

.salem-logo-wrapper a {
  list-style: none;
  color: #ffffff;
}

.book-text {
  font-family: 'intro book';
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
}

/* ------ */
/* Карточки игроков */

.back-photo {
  position: absolute;
  left: -140px;
  top: 19px;
  opacity: 0.5;
}

.back-photo2 {
  position: absolute;
  left: 183px;
  top: 19px;
  opacity: 0.5;
}

.photo-payer {
  z-index: 5;
}

.payer-card {
  display: flex;

  margin: 0 auto;

  position: relative;
  width: 447px;
  height: 251;
  background-color: transparent;
}

.player-info {
  position: absolute;
  width: 197px;
  height: 220px;
  background-color: #dddddd;
  top: 20px;
  left: 210px;
  border-radius: 8px;
  padding-left: 15px;
  z-index: 6;
}

.player-info p {
  margin: 5px 0;
  line-height: 9px;
}

.player-info h4 {
  font-family: 'Intro';
  font-size: 25px;
  color: #9b0b05;
  margin-top: 20px;
  margin-bottom: 20px;
}

.player-font-head {
  font-family: 'Intro Bold';
  text-transform: none;
  font-size: 14px;
  color: #000000;
}

.player-info-font {
  font-family: 'Intro bold';
  font-size: 11px;
  color: #454545;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
}

.player-card-line {
  width: 175px;
  height: 1px;
  background-color: #454545;
}

.player-card-line2 {
  width: 175px;
  height: 1px;
  background-color: #000000;
  margin: 10px 0;
  margin-bottom: 10px;
}

.socialpage-player li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socialpage-player ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40px;

  padding: 0;
  margin: 0;
}

.socialpage-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-page-before {
  position: relative;
}

.steam {
  content: '';

  position: absolute;

  background-size: cover;
  background-image: url(/img/steam.png);
  background-position: center;
  width: 18px;
  height: 18px;
}

.steam:hover,
.steam:focus {
  content: '';

  position: absolute;

  background-size: cover;
  background-image: url(/img/steam-red.png);
  background-position: center;
  width: 18px;
  height: 18px;
}

.vkontakte {
  content: '';

  position: absolute;

  background-size: cover;
  background-image: url(/img/vk.png);
  background-position: center;
  width: 18px;
  height: 18px;
}

.vkontakte:hover,
.vkontakte:focus {
  content: '';

  position: absolute;

  background-size: cover;
  background-image: url(/img/vk-red.png);
  background-position: center;
  width: 18px;
  height: 18px;
}

.instagram {
  content: '';

  position: absolute;

  background-size: cover;
  background-image: url(/img/instagram.png);
  background-position: center;
  width: 18px;
  height: 18px;
}

.instagram:hover,
.instagram:focus {
  content: '';

  position: absolute;

  background-size: cover;
  background-image: url(/img/instagram-red.png);
  background-position: center;
  width: 18px;
  height: 18px;
}

.slider-menu {
  position: relative;
}

.btn-right::before {
  content: '';

  width: 20px;
  height: 35px;

  top: 189px;
  left: 160px;

  position: absolute;

  background-image: url(../img/left-click.png);
  background-position: center;
  background-repeat: no-repeat;
}

.btn-right::after {
  content: '';

  width: 20px;
  height: 35px;

  top: 189px;
  right: 160px;

  position: absolute;

  background-image: url(../img/right-click.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* ------ */

.big-heading {
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}

/* Слайдер */

.carousel {
  width: 447px;
  height: 270px;

  color: #ffffff;
  transition: 1s ease-out all;
  margin-left: -23em;
  margin-right: 20px;
  border-radius: 14px;
  opacity: 0.4;
}

.carousel:last-child {
  margin-left: -5em;
}

/*
.player-info {
  position: absolute;
  right: 0;
  left: 0;
}
*/

.wrapper {
  border-radius: 24px;
  width: 790px;
  overflow-x: hidden;
  margin: 0 auto;
  overflow: hidden;
}

.transform {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  transition: 1s ease transform;

  transform: translateX(80px);

  margin-left: 18em;
}

.active {
  z-index: 123;
  transform: scale(1.1);
  opacity: 1;
}

/* Таблица */
.inner-content {
  background-image: url(/img/background2.png);
  background-position: 50px -90px;
  background-repeat: no-repeat;
}

.table-games {
  font-family: 'intro';
  font-size: 14px;
}

.table-games-1 {
  font-family: 'intro bold';
  font-size: 11px;
  text-transform: none;
}

.table-games {
  margin: 0;
  padding: 0;
  list-style: none;
}

.table-games li {
  width: 895px;
  display: flex;
  justify-content: space-between;
  background-color: #9b0b05;
  margin: 0 auto;
}

.table-games-1 {
  position: relative;
  list-style: none;
  width: 895px;
  margin: 18px auto;
  padding-left: 115px;
}

.table-games-1 p {
  margin-bottom: 15px;
}

.table-games-logo::before {
  content: '';

  position: absolute;
  width: 35px;
  height: 35px;

  background-image: url(/img/cs-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}

.focus-red-cs:hover,
.focus-red-cs:focus {
  color: #9b0b05;
}

.focus-red-cs:hover::before,
.focus-red-cs:focus::before {
  content: '';

  position: absolute;
  width: 35px;
  height: 35px;

  background-image: url(/img/cs-icon-red.png);
  background-position: center;
  background-repeat: no-repeat;
}

.focus-red-dota:hover,
.focus-red-dota:focus {
  color: #9b0b05;
}

.table-games-logo2:hover::before,
.table-games-logo2:focus::before {
  content: '';

  position: absolute;
  width: 35px;
  height: 35px;

  background-image: url(/img/dota-icon-red.png);
  background-position: center;
  background-repeat: no-repeat;
}

.table-games-logo2::before {
  content: '';

  position: absolute;
  width: 35px;
  height: 35px;

  background-image: url(/img/dota-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}

.table-games-1 li {
  display: flex;
  justify-content: space-between;
}

.table-cell-1 {
  margin-left: 62px;
  width: 382px;
}

.table-cell-2 {
  width: 190px;
}

.table-cell-3 {
  width: 162px;
}

.table-cell-4 {
  width: 165px;
}

.line {
  width: 895px;
  height: 1px;
  background-color: #ffffff;
  margin: 0 auto;
}

/* footer */

.main-footer {
  font-size: 11px;
  line-height: 14px;
  color: #ffffff;

  margin-top: 30px;
  padding: 18px 0;
  width: 100%;
  background-color: #9b0b05;
}

footer ul {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  width: 112px;

  margin: 17px auto;
  padding: 0;

  list-style: none;
}

.footer-social {
  width: 220px;
  margin: auto;

  text-align: center;
}

.main-footer .container {
  display: flex;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;

  background-color: transparent;
}

.social-button:hover,
.social-button:focus {
  background-color: rgba(255, 45, 82, 0.2);
  border-radius: 10px;
}

@media (max-width: 600px) {
  body {
    width: max-content;
  }
}

main {
  position: relative;
}

main::after {
  content: '';
  width: 100%;
  background-image: url(../img/red-line.png);
  height: 100px;
  position: absolute;
  bottom: -78px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
